h1,
h2,
h3,
h4,
h5,
p,
a,
span,
input,
button,
address,
li,
div {
    font-family: "Manrope",
        sans-serif;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 0;
}

// Цвета
$primary-color: #4F46E5;
$secondary-color: #3730A3;

$error-color: #EF4444;

$bg-light: #f9fafb;
$bg-gradient-start: #6366F1;
$bg-gradient-end: #8B5CF6;

$text-light: #f9fafb;
$text-dark: #111827;